Bottleneck==1.4.2
gast==0.6.0
google-pasta==0.2.0
h5py==3.13.0
kiwisolver==1.4.8
libclang==18.1.1
ml_dtypes==0.5.1
namex==0.0.8
numexpr==2.10.1
optree==0.14.1
pandas==2.2.3
protobuf==5.29.4
Pygments==2.19.1
sympy==1.13.1
tensorflow-io-gcs-filesystem==0.31.0
threadpoolctl==3.6.0
torch==2.6.0
torchvision==0.21.0
typing_extensions==4.13.0
unicodedata2==15.1.0
Werkzeug==3.1.3
